body {
  font-family: "Noto Sans KR", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  line-height: 1.6;
  background-color: #f4f4f4;
  box-sizing: border-box;
}

.hamburger-menu {
  position: fixed;
  top: 20px;
  right: 20px;
  cursor: pointer;
  z-index: 1001;
}

.hamburger-menu .bar {
  width: 35px;
  height: 5px;
  background-color: #333;
  margin: 6px 0;
  transition: 0.4s;
}

.sidebar {
  height: 100%;
  width: 0;
  position: fixed;
  top: 0;
  right: 0;
  background-color: #a890d6;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
  z-index: 1000;
}

.sidebar nav ul {
  list-style: none;
  padding: 0;
}

.sidebar nav ul li {
  padding: 8px 8px 8px 32px;
  text-align: left;
}

.sidebar nav ul li a {
  text-decoration: none;
  color: white;
  display: block;
  transition: 0.3s;
}

.sidebar nav ul li a:hover {
  color: #f1f1f1;
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

#intro {
  background: #f4f4f4;
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 0 50px;
  position: relative;
  width: 180vh;
  animation: fadeIn 2s ease-in-out;
}
.colorscripter-code {
  color: #010101;
  font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace !important;
  position: relative !important;
  overflow: auto;
  width: 150vh;
  background-color: #f4f4f4;
}
.colorscripter-code-table {
  margin: 0;
  padding: 0;
  border: none;
  background-color: #f4f4f4;
  border-radius: 4px;
}
.code-line {
  margin: 0;
  padding: 0;
  word-break: normal;
  text-align: right;
  color: #666;
  font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace !important;
  line-height: 130%;
}
.code-content {
  padding: 0 6px;
  white-space: pre;
  line-height: 130%;
}
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}
.typing {
  overflow: hidden; /* ensures that the typing animation stays within bounds */
  white-space: pre; /* keeps the text from wrapping */
  border-right: 2px solid; /* gives the cursor effect */
  animation: typing 5s steps(40, end), blink-caret 0.75s step-end infinite;
}
@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: black;
  }
}

.intro-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
  position: relative;
  animation: fadeIn 2s ease-in-out;
  margin: 0 auto;
}

.introduction {
  margin-top: 30px;
}

.profile-pic-container {
  position: relative;
  width: 300px;
  height: 300px;
  background: url("/images/profile.jpg") no-repeat center center;
  background-size: cover;
}

.profile-pic {
  width: 100%;
  height: 100%;
  object-fit: cover;
  clip-path: url(#clipPath);
}

.intro-text {
  margin-left: 20px;
  text-align: left;
  max-width: 500px;
  animation: slideIn 2s ease-in-out;
}

h1 {
  font-family: "Do Hyeon", sans-serif;
  font-size: 60px;
  margin: 0;
}

.sub_title {
  font-size: 30px;
  font-family: "Do Hyeon", sans-serif;
}

.contact_icon {
  width: 40px;
  height: 40px;
  transition: all 0.3s ease;
}

.resume_icon:hover {
  content: url("/images/free-icon-cv-colored-exact-purple.png");
}

.email_icon:hover {
  content: url("/images/exact_colored_email.png");
}

.github_icon:hover {
  content: url("/images/exact_colored_github.png");
}
.file_icon:hover {
  content: url("/images/free-icon-file-1150592.png");
}

.github_white_icon:hover {
  content: url("/images/free-icon-github-733609.png");
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes slideIn {
  0% {
    transform: translateX(-100px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

#about {
  width: 130vh;
  margin: 0 auto;
}

#project {
  display: flex;
  flex-direction: row;
  width: 180vh;
  margin: 0 auto;
}
#skills {
  width: 180vh;
}

#skills ul {
  margin: 8px;
}

h2 {
  color: #a890d6;
  font-weight: bolder;
  font-size: 80px;
  font-family: "Do Hyeon", sans-serif;
  margin: 0;
}

h3 {
  margin: 0;
  padding-bottom: 10px;
  border-bottom: 1px solid lightgrey;
  margin-bottom: 10px;
}

h4 {
  margin: 0;
}

.skill_item {
  width: 800px;
}

.skill_section {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

#about,
#project,
#skills {
  padding: 4em 2em;
  opacity: 0;
  transform: translateY(50px);
  transition: opacity 1s, transform 1s;
}

#about.show,
#project.show,
#skills.show {
  opacity: 1;
  transform: translateY(0);
}

.hidden {
  visibility: hidden;
}

.project_container {
  display: flex;
  flex-direction: row;
}

.project_item {
  position: relative;
  width: 100%;
  max-width: 600px;
  margin-bottom: 20px;
  margin: 20px 0;
  padding: 10px;
  transform: translateY(50px);
  transition: opacity 1s, transform 1s;
}
.project_img {
  width: 100%;
  display: none; /* 처음엔 모든 이미지를 숨김 */
}
.project_item img.active {
  display: block; /* active 클래스가 있는 이미지만 보임 */
}

.project_info {
  margin-top: 20px;
  position: relative;
}

.project_title {
  font-weight: bold;
  font-size: 20px;
  margin: 10px;
}

.desc {
  margin-top: 10px;
}

.skill_container {
  margin-top: 30px;
  display: flex;
  flex-wrap: wrap;
}

.skills {
  border: 1px solid #a890d6;
  border-radius: 50px;
  color: #f4f4f4;
  background-color: #a890d6;
  padding: 5px;
  font-size: smaller;
  margin-bottom: 5px;
  margin-right: 5px;
}

.hover-info {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #666468ec;
  z-index: 10;
  text-align: center;
}

.project_item:hover .hover-info {
  display: flex;
}

.project_item:hover .hover-info .img_container {
  display: block;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-top: -35px;
  margin-left: -110px;
}

.img_container img {
  width: 50px;
  height: 50px;
  margin: 0 20px;
}
footer {
  text-align: center;
  padding: 50px;
  width: 180vh;
}

@media (max-width: 768px) {
  .intro-content {
    flex-direction: column;
  }

  .intro-text {
    text-align: center;
  }

  .container {
    flex-direction: column;
  }
}
